body {
  background-color: lightseagreen;
}

h1 {
  text-align: center;
  font-size: 26px;
  line-height: 1em;
  margin-bottom: 1em;
}

.button-start {
  background: green;
 

}

table {
  margin: 0 auto;
}


td {
  width: 42px;
  height: 42px;
  border: 3px solid cadetblue;
  border-radius: 50%;
  background-color: #fff;
}

.game-container {
  width: 500px;
  margin: 0 auto;
}

.button {
  border-radius: 10px;
  background: lightsalmon;
  border: 2px solid lightsalmon;
  margin: 0 30px;
}

.button-active {
  background: lightgreen;
}

.button-level {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin-bottom: 20px;
}

.count {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.active {
  background-color: blue;
}

.touch {
  background-color: green;
}

.loss {
  background-color: red;
}

