body,
button,
div {
    margin: 0;
    padding: 0;
}

.button {
    margin-left: 25px;
    margin-top: 25px;
    padding: 15px 45px;
    background: cadetblue;
    border: 1px solid cadetblue;
    border-radius: 55px;
    color: rgb(31, 4, 32);
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    
}

.user-wrapper {
    margin-left: 25px;
    margin-top: 25px;
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 15px;
    background: lightgray;
    width: 300px;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}