body,
h1,
p,
div {
    margin: 0;
    padding: 0;
}

.container-main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.news-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-item {
    width: 100%;
    padding: 40px 20px 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #000;
    border-radius: 15px;
    position: relative;
}

.news-item__user {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    align-items: center;
}

.user-name {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.user-nick,
.news-item__city {
    font-size: 18px;
    color: lightslategray;
}

.user-email,
.news-item__post {
    font-size: 16px;
    color: #fff;
}

.user-email {
    cursor: pointer;
}

.news-item__post {
    display: flex;
    flex-direction: column;
}

.button {
    padding: 5px 10px;
    width: fit-content;
    border-radius: 15px;
}

.button--delete {
    background: lightslategray;
    position: absolute;
    right: 10px;
    top: 10px;
}

.button--edit {
    background: #33c7c9;
    position: absolute;
    right: 10px;
    top: 60px;
}

.button--add {
    margin: 20px;
    width: 325px;
    background: #00b9ff;
    border: 1px solid #00b9ff;
}

.news-form {
    display: none;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 20px;
    border: 2px solid #00b9ff;
    border-radius: 10px;
    background-color: #00faff;
}

.news-form-add {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;

}

.news-form-edit {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded {
    display: none;
  }


