body,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

p {
    padding: 15px;
}

.films {
    border: 3px solid rgb(108, 181, 172);
    border-radius: 15px;
    box-shadow: 3px 3px rgb(139, 188, 188);
    margin: 15px 0;
    padding: 15px 0;
    list-style: none;
}
.wrapper_title {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 2em;
    margin-left: 15px;
}

.loader {
    width: 50px;
    height: 50px;
    font-size: 25px;
    box-sizing: border-box;
    border-top: 0.3em solid hotpink;
    border-radius: 50%;
    position: relative;
    animation: rotating 2s ease-in-out infinite;
    --direction: 1;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    top: -0.2em;
}

.loader::before {
    border-top: 0.3em solid dodgerblue;
    transform: rotate(120deg);
}

.loader::after {
    border-top: 0.3em solid gold;
    transform: rotate(240deg);
}

@keyframes rotating {
    50% {
        transform: rotate(calc(180deg * var(--direction)));
    }

    100% {
        transform: rotate(calc(360deg * var(--direction)));
    }
}


