* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 24px;
}

h2 {
    margin: 40px 0 10px;
}

h2:first-of-type {
    margin-top: 0;
}

#user-number {
    font-size: 50px;
    line-height: 64px;
}

button {
    box-sizing: border-box;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    filter: brightness(.9);
    font-size: 18px;
    margin: 10px 10px 10px 0;
}

button:hover {
    filter: brightness(1);
}

